<html data-ng-app="calculator">
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="parser.js"></script>
    </head>
  <body>
        <div name="slide1" id="slide1" class="slide">
            <div class="centered-text">
                <hr></hr>
                <article class="calculator" data-ng-controller="MainCtrl as calc">
                  <h3><span>Calc-Boy 9000</span></h3>
                  <div class="display-container">
                      <div class="display">
                                <h3>5000</h3>
                                <h3>{{storage.lastAns}}</h3>
                          <div class="entering">
                            <hr>
                                {{entered}}<span class="blinking">&#9612;</span>
                          </div>
                      </div>
                  </div>
                  <div class="button-fallback">
                      <div class="button-area">
                            <table>
                            <tr>
                                <td><button data-ng-click="clear()">clear</button></td>
                                <td><button data-ng-click="backspace()">&#8592;</button></td>
                                <td><button>&#960;</button></td>
                                <td><button data-ng-click="enter('^')">^</button></td>
                                <td><button data-ng-click="enter('/')">&#247;</button></td>
                            </tr>
                            <tr>
                                <td><button data-ng-click="wrapper('sqrt')">sqrt</button></td>
                                <td><button data-ng-click="enter(1)">1</button></td>
                                <td><button data-ng-click="enter(2)">2</button></td>
                                <td><button data-ng-click="enter(3)">3</button></td>
                                <td><button data-ng-click="enter('*')">x</button></td>
                            </tr>
                            <tr>
                                <td><button data-ng-click="wrapper('sin')">sin</button></td>
                                <td><button data-ng-click="enter(4)">4</button></td>
                                <td><button data-ng-click="enter(5)">5</button></td>
                                <td><button data-ng-click="enter(6)">6</button></td>
                                <td><button data-ng-click="enter('-')">-</button></td>
                            </tr>
                            <tr>
                                <td><button data-ng-click="wrapper('cos')">cos</button></td>
                                <td><button data-ng-click="enter(7)">7</button></td>
                                <td><button data-ng-click="enter(8)">8</button></td>
                                <td><button data-ng-click="enter(9)">9</button></td>
                                <td><button data-ng-click="enter('+')">+</button></td>
                            </tr>
                            <tr>
                                <td><button data-ng-click="wrapper('tan')">tan</button></td>
                                <td><button data-ng-click="enter('.')">.</button></td>
                                <td><button data-ng-click="enter(0)">0</button></td>
                                <td><button data-ng-click="prefix('-')">(-)</button></td>
                                <td><button data-ng-click="evaluate()">Enter</button></td>
                            </tr>
                            </table>
                      </div>
                  </div>
                </article>
             <hr></hr>
        </div>
  </body>
</html>
      