.slide { /* single page */
  box-sizing: border-box;
  padding: 5vh;
  min-height: 100vh;
  width: 100vw;
    background: #333;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    z-index:-1;
}
.centered-text{
    text-align: center;
}
#slide1{
    font-family: "Open Sans";
    color: #fff;
}
#slide1 h3{
    font-size:1em;
}

#slide1 span{
    color: #fff;
    text-transform: uppercase;
}






.calculator {
  border:3px solid green;
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;   
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;   
/* centered circle with a minimum size*/    
  height: 50vw;
  width:30vw;
  margin:auto;
  min-height: 500px;
  min-width: 300px;

    
  position: relative; /*makes a point for child containers to connect to*/
  overflow:hidden; /*limit childs within*/
}

.display-container{
  height:30%;
  width:90%;
  margin:auto;
  border:3px solid red;
  border-radius: 1em;
  position: relative;
  overflow:hidden; /*limit childs within*/
}

.display{
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-color: dimgrey;
  text-align: left;
  padding:2%;
  overflow:hidden;
}

.entering {
  position:absolute;
  top:80%;
  bottom:0;
  right:0;
  left:0;
  padding:2%;
  overflow:hidden;    
}
.entering hr{
margin-top: 0px;
margin-bottom: 0px;
}

.calc-button{
    display:inline-block;
    padding-left:5px;
    padding-right:5px;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

